<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 m-0">
<a class="navbar-brand nav-link pl-2" href="/logout">
  <img src="/images/ASPHALT_BLANC-02.png" alt="logo" id="asphaltLogo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/profileFacility">Back to Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/goodPractices">Good Practices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter a zipcode" name:"zipcodeNavBar">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>


<section id="sectionEditProfileFacility" class="p-3 m-3">

<div class="text-center">
<h3> Edit your profile</h3>
</div>

<form method="POST" action="/editFacility" enctype='multipart/form-data'>
  <fieldset>   

  <div class="form-group">
    <label for="exampleInputName">Id</label>
    <input type="ObjectId" name="id" class="form-control" id="facilityId" value="<%= facility._id%>">
  </div>

    <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="name" class="form-control" id="facilityName" value="<%= facility.name%>">
  </div>

  <div class="form-group">
  <label for="exampleInputAddress">Address</label>
  <input type="text" name="address" id="address" class="form-control" value="<%= facility.address%>">
</div>

  <div class="form-group">
  <label for="exampleInputPhoneNumber">Phone Number</label>
  <input type="text" name="phone" class="form-control" id="exampleInputPhoneNumber" value="<%= facility.number%> ">
</div>

<div class="form-group">
<label for="exampleInputWebsite">Website</label>
<input type="text" name="website" class="form-control" id="exampleInputWebsite" value="<%= facility.website%>">
</div>


<div class="form-group">
<label for="exampleInputFile">Profile Picture</label>
<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="facility-picture">
<small id="fileHelp" class="form-text text-muted">Please, select a profile picture.</small>
</div>

<fieldset class="form-group">
<label for="exampleSelect2">Type of Club</label>
<div class="form-check">
<ul>
<li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="Squash" value="Squash" checked="">
    Squash
  </label>
  </li>
  <li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="Zloutch" value="Zloutch" checked="">
    Zloutch
  </label>
  </li>
  <li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="Futsal" value="Futsal" checked="">
    Futsal Urban
  </label>
  </li>
  <li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="Boxing" value="Boxing" checked="">
    Boxing
  </label>
  </li>
  <li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="Badminton" value="Badminton" checked="">
    Badminton
  </label>
  </li>
  <li>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optionsRadios" id="otherClubType" value="otherClubType" checked="">
    <input type="text" name="otherType" id="otherType" class="form-control-sm" placeholder="Other, please specify">
  </label>
  </li>

  </ul>
</div>
</fieldset>

      <div class="form-group">
      <label for="exampleSelect2">Opening Days</label>
      <select multiple="" class="form-control" id="OpeningDays" type="text" name="openingDays">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleTextarea">Description</label>
      <textarea type="text" name="description" class="form-control" id="exampleTextarea" rows="3" value="<%=facility.description%>"></textarea>
    </div>
  
 
   
    <button type="submit" class="btn btn-primary">Save changes</button>
    <label id="tohide" for="zipcode">Code postal :
      <input type="text" id="zipcode" name="zipcode">
    </label>
  </fieldset>
</form>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfPqsVciBh7e45HfrpxxhWRpWkuILS1E&libraries=places&callback=init"></script>
