<h1>
    Welcome to your homepage
</h1>

<h2>
    <%= facility.name %>
</h2>
<br/>

<h2>
    <%= facility.email %>
</h2>
<br/>

<h2>
    <%= facility.address %>

</h2>
<br/>

<h2>
    <%= facility.postalCode %>
</h2>
<br/>

<h2>
    <%= facility.phone %>
</h2>
<br/>


<h2>
    <%= facility.facilityType %>
</h2>
<br/>

<h2>
    <%= facility.description %>

</h2>
<br/>

<h2>
    <%= facility.openingDays %>

</h2>
<br/>

<h2>
    <%= facility.website %>
</h2>
<br/>

<button>
    <a href="/edit">Edit Profile</a>
</button>

<button>
    <a href="/logout ">Log Out</a>
</button>