<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 m-0">
<a class="navbar-brand nav-link pl-2" href="/logout">
  <img src="/images/ASPHALT_BLANC-02.png" alt="logo" id="asphaltLogo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/editUserProfile">Edit Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://qodibop.github.io/Zloutch/">Zloutch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter a zipcode" name:"zipcodeNavBar">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>


<section id="sectionUserProfile" class="p-3 m-3">

<div class="text-center">
<h2>
    <%= user.username %>
</h2>
<img src="<%= user.picPath %>" width="100" height="100">
</div>
<hr class="mx-5 px-5">


<div id="infoUser" class="subSectionUser">

<h5 class="infoUser infoUserTitle">Info</h5>
<p class="infoUser">
<%= user.info %>
</p>

<h5 class="infoUser infoUserTitle">Modo</h5>
<p class="infoUser">
<%= user.modo %>
</p>

<h5 class="infoUser infoUserTitle">Ranking</h5>
<p><%= user.ranking %></p>

<h5 class="infoUser infoUserTitle">District</h5>
<p class="infoUser">
    <%= user.zipcode %>
</p>

</div> 

<div class="text-center subSectionUser">
<h2>
    - Your matches -
</h2>
</div>

<hr class="mx-5 px-5">

</br>
<hr class="mx-5 px-5">

<div class="text-center subSectionUser">
<h2>
    - Pending Challenges-
</h2>
</div>

<hr class="mx-5 px-5">

</br>
<hr class="mx-5 px-5">

<div class="text-center subSectionUser">
    <a href="/search">
        <button class="btn btn-primary">Look for a game</button>
    </a>

    <a href="/profileUser">
        <button class="btn btn-primary">What's around?</button>
    </a>

    <a href="#">
        <button class="btn btn-primary">Challenge a friend</button>
    </a>
</div>

</section>